# Docker
*.log
docker-volume-*/

# Packages & Tools
dist/
build/
.coverage
.pytest_cache/
.envrc

# Python
__pycache__/
*.pyc
.venv/
.env
.env
**/.env
**/.env.*
*.env

# Node / Next
node_modules/
.next/
out/
frontend/.env.local

# Docker
*.log
docker-volume-*/etl/.env.airflow

# Airflow env (secrets)
etl/.env.airflow
